.container{
    width: 25%;
    min-width: 200px;
    border: 3px;
    border-color: rgb(190, 184, 184);
    border-style: solid;
    box-shadow: 4px 4px rgb(116, 113, 113);
    background-color:darkblue;
}

#profilePic{
    margin: center;
    height: 100%;
    width: 100%;
}
h3{
    margin-top: 1%;
    text-align: center;
}
.informations{
    margin: auto;
    width: 90%;
    padding: 10px;
    color: aliceblue;
}
.info{
    color:rgb(226, 207, 207)
}
#icon{
    width: 20%;
    border-radius: 50%;
    margin: 0% 5%;
}

.friends {
    display: flex;
    align-items: center;
}
.border{
    margin-left: 60%;
    margin-top: 5%;
    border: 2px;
    border-radius: 3%;
    border-color: lightsalmon;
    border-style: solid;
    background-color:lightsalmon;
}

.button{
    text-align: center;
    color: black;
}

